extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Travelling
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              
              h2.panel-title Tasks
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                 
                    span.taskname       Swaran Jayanti Guru Darshan Yatra Scheme 2016                  
                    a.btn open                              
                                                  
              .row
                .review
                  .well.well-sm.review-header
                    
                    span.taskname       Mukhyamantri Asangathit Karmakar Ijjat Monthly Season Ticket Card Yojana                  
                    a.btn open                               
          
              .row
                .review
                  .well.well-sm.review-header
                    
                    span.taskname       Promotion and Development of Tea Tourism Infrastructure in Assam                 
                    a.btn open                              
                     
    .col-xs-12.col-md-3
      p.lead
        | travelling related schemes.