extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Health 
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              
              h2.panel-title schemes
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                   
                    span.taskname       Kalpana Chawla Chatravriti Yojana                 
                    a.btn open                               
                                                   
              .row
                .review
                  .well.well-sm.review-header
               
                    span.taskname       H.P. Swaran Jayanti Middle Merit Scholarship Scheme for Govt. Schools                 
                    a.btn open                               
                    
              .row
                .review
                  .well.well-sm.review-header
                    
                    span.taskname       Merit Awards                 
                    a.btn open                              
                    
    .col-xs-12.col-md-3 
      p.lead
        | Health related schemes