extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Public schemes
          small &nbsp;A unique one-stop digital portal
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/todo') Health
            small &nbsp;
          p.tagline Health related schemes
        .col-xs-12.list-group-item
          h4
            a(href='/todo2') Educational
            small &nbsp;
          p.tagline educational related schemes
        .col-xs-12.list-group-item
          h4
            a(href='/todo3') Travelling
            small &nbsp;
          p.tagline travelling related schemes
        .col-xs-12.list-group-item
          h4
            a(href='/todo4') Law and Justice
            small &nbsp;
          p.tagline law and justuce related schemes
    .col-xs-12.col-sm-4
      p.lead
        | Public scheme website- A unique one-stop digital portal linking government schemes