extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Educational
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              
              h2.panel-title schemes
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                
                    span.taskname       Su-Swastha Yojna                  
                    a.btn open                            
                                                  
              .row
                .review
                  .well.well-sm.review-header
                   
                    span.taskname       PM poshan                 
                    a.btn open                               
                    
              .row
                .review
                  .well.well-sm.review-header
                    
                    span.taskname       health scheme                 
                    a.btn open                              
                    
    .col-xs-12.col-md-3
      p.lead
        | health related schemes